<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Editing</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="../static/Css/customer-list.css" th:href="@{/Css/customer-list.css}" rel="stylesheet" />
  <!-- <script type="text/javascript">
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script> -->
</head>

<body>
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-5">
            <h2>User <b>Editing</b></h2>
          </div>
        </div>
      </div>
      <form th:action="@{/updateCustomer}" method="POST" th:object="${customer}">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
          </thead>
          <th>
            <tr>
              <td>
                <input th:field="*{id}" placeholder="Your Id" tabindex="1">
              </td>
              <td>
                <input th:field="*{full_name}" placeholder="Your Name" tabindex="2">
              </td>
              <td>
                <input th:field="*{address}" placeholder="Your Address" tabindex="3">
              </td>
              <td>
                <input th:field="*{email}" placeholder="Your Email" type="email" tabindex="4">
              </td>
              <td>
                <input th:field="*{phone}" placeholder="Your Phone" tabindex="5">
              </td>
              <td>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
              </td>
            </tr>
          </th>
        </table>
      </form>
    </div>
    <a th:href="@{/customer-list}">Back</a><br />
  </div>
</body>

</html>
