<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Details</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="../static/Css/customer-list.css" th:href="@{/Css/customer-list.css}" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-5">
            <h2>User <b>Details</b></h2>
          </div>
        </div>
      </div>

      <a th:href="@{/customer-list}">Back</a>
      <br /> <br />
      <table>
        <tr>
          <td>Id: </td>
          <td>
            <p th:text="${customer.id}" />
          </td>
        </tr>
        <tr>
          <td>Name: </td>
          <td>
            <p th:text="${customer.full_name}" />
          </td>
        </tr>
        <tr>
          <td>Address: </td>
          <td>
            <p th:text="${customer.address}" />
          </td>
        </tr>
        <tr>
          <td>Email: </td>
          <td>
            <p th:text="${customer.email}" />
          </td>
        </tr>
        <tr>
          <td>Phone: </td>
          <td>
            <p th:text="${customer.phone}" />
          </td>
        </tr>
      </table>
    </div>
</body>

</html>
